<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div style="background-color: blue">
            <<table>
                <tr>
                    <th>Adicionar</th>
                    <th>Buscar</th>
                    <th>Alterar</th>
                    <th>Excluir</th>
                </tr>
            </table>>
        </div>
        <div>
            <table style="width:100%">
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th>Usuario</th>
                </tr>
            </table>
        </div>
    </body>
</html>